
<h1><div class="panel panel-primary">List of articles</div></h1>

<h2><%= link_to "New article", new_article_path %></h2>

<%= form_tag articles_path, method: :get do %>
 <div class="input-group">
   <%= text_field_tag :q,"", class: "form-control" %>
   <span class="input-group-btn">
     <%= submit_tag "Search", class: "btn btn-default" %>

   </span>
 </div>
<% end %>


<table class = "table">



<thead>

<tr>
  <th> <span class="label label-primary">Id</span></th> 
  <th> <span class="label label-success">Title</span></th>
  <th> <span class="label label-info">Text</span></th>
  <th> <span class="label label-info">Author</span></th>
 
  <th> </th>
  <th> </th>
  <th> </th>
  <th> </th>
</tr>
</thead>
<tbody>



<% @articles.each do |article| %>


  <tr>
    <td><%= article.id %></td>
    <td><%= article.title %></td>
    <td><%= article.text %></td>
    <td><%= article.author.email %></td>
   
    <td>Comments: <%= article.comments.count %> </td>
    <td><%= link_to "Show", article_path(article), class: "btn btn-info" %></td>
    <% if article.author == current_user %>
    <td><%= link_to "Edit", edit_article_path(article), class: "btn btn-warning"  %></td>
    <td><%= link_to "Destroy", article_path(article),
        class: "btn btn-danger",
    		method: :delete,
    		data: {confirm: "Are you sure?"} %></td>
        <%else%>
        <td></td>
        <td></td>
        <% end %>
  </tr>
  <% end %>
</tbody>
</table>

<%= paginate @articles%>

<h2><%= link_to "New article", new_article_path %></h2>

