<p>
<strong><span class="label label-info">Title</span></strong>
<%= @article.title %>
</p>

<p>
<strong><span class="label label-success">Text</span></strong>
<%= @article.text %>
</p>

<p>
<strong><span class="label label-info">Created at</span></strong>
<%= @article.created_at %>
</p>
<p>
<strong><span class="label label-primary">Updated at</span></strong>
<%= @article.updated_at %>
</p>

<%= render 'comments/form' %>

<h2><span class="label label-primary">Comments</span></h2>
<%= render @article.comments.reload %>


<%= link_to "Back", articles_path %>
<%= link_to "Edit", edit_article_path(@article) %>