<p>
<strong><span class="label label-info">Title</span></strong>
<%= @article.title %>
</p>

<p>
<strong><span class="label label-success">Text</span></strong>
<%= @article.text %>
</p>

<p>
<strong><span class="label label-success">Author</span></strong>
<%= @article.author %>
</p>


<p>
<strong>Tags:</strong>
<% @article.tags.each do |tag| %>
<%= link_to articles_path(q: tag), style: 'margin-left:4px' do %>
<span class="label label-info">
<%= tag %>
	
</span>
<%end%>
<%end%>
</p>

<p>
<strong><span class="label label-info">Created at</span></strong>
<%= @article.created_at %>
</p>
<p>
<strong><span class="label label-primary">Updated at</span></strong>
<%= @article.updated_at %>
</p>

<%= pluralize(@article.likes.count, "person") %> liked this article

<% if @like.persisted? %>
<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
<%= link_to "Unlike", article_like_path(@article, @like), method: :delete %>
<%else%>
<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
<%= link_to "like", article_likes_path(@article), method: :post %>
<%end%>



<p>
<strong>Tags:</strong>
<%= @article.tags.join(" ") %>
</p>

<%= render 'comments/form' %>

<h2><span class="label label-primary">Comments</span></h2>
<%= render @article.comments.reload %>


<%= link_to "Back", articles_path %>
 <% if @article.author == current_user %>
<%= link_to "Edit", edit_articles_path(@article) %>
  <%end%>
 